<!DOCTYPE html><html><body>
  <h2>📦 Потоки</h2>
  <table border="1">
    <tr><th>CID</th><th>Назва</th><th>Click</th><th>Postback</th><th>GEO</th><th>Source</th></tr>
    <% flows.forEach(f => { %>
    <tr>
      <td><%= f.cid %></td>
      <td><%= f.name %></td>
      <td><%= f.stats.click || 0 %></td>
      <td><%= f.stats.postback || 0 %></td>
      <td><%= f.params.geo %></td>
      <td><%= f.params.source %></td>
    </tr>
    <% }) %>
  </table>
</body></html>